<div class='works'>
  <h2>List of Works</h2>


  <section class="media-table">
    <h4>Albums</h4>
    <% if @album_collection.length > 0 %>
        <table class="table">
          <thead>
            <tr>
              <th class="tbl-votes">Votes</th>
              <th class="tbl-title">Title</th>
              <th class="tbl-creator">Creator</th>
              <th class="tbl-year">Published</th>
              <th class="tbl-upvote">Upvote</th>
            </tr>
          </thead>
          <tbody>
            <% @album_collection.each do |work| %>
              <tr>
                <td><%=work.votes.count%></td>
                <td><%=link_to work.title, work_path(work.id)%></td>
                <td><%=work.creator%></td>
                <td><%=work.publication_year%></td>
                <td><%= button_to "Upvote", votes_path(work_id: work.id), method: :post, :class => "btn btn-primary"%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    <% else %>
      <h3>No Works Found!</h3>
    <% end %>
  </section>
  <section class="media-table">
    <h4>Books</h4>
    <% if @book_collection.length > 0 %>
        <table class="table">
          <thead>
            <tr>
              <th class="tbl-votes">Votes</th>
              <th class="tbl-title">Title</th>
              <th class="tbl-creator">Creator</th>
              <th class="tbl-year">Published</th>
              <th class="tbl-upvote">Upvote</th>
            </tr>
          </thead>
          <tbody>
            <% @book_collection.each do |work| %>
              <tr>
                <td><%=work.votes.count%></td>
                <td><%=link_to work.title, work_path(work.id)%></td>
                <td><%=work.creator%></td>
                <td><%=work.publication_year%></td>
                <td><%= button_to "Upvote", votes_path(work_id: work.id), method: :post, :class => "btn btn-primary"%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    <% else %>
      <h3>No Works Found!</h3>
    <% end %>
  </section>
  <section class="media-table">
    <h4>Movies</h4>
    <% if @movie_collection.length > 0 %>
        <table class="table">
          <thead>
            <tr>
              <th class="tbl-votes">Votes</th>
              <th class="tbl-title">Title</th>
              <th class="tbl-creator">Creator</th>
              <th class="tbl-year">Published</th>
              <th class="tbl-upvote">Upvote</th>
            </tr>
          </thead>
          <tbody>
            <% @movie_collection.each do |work| %>
              <tr>
                <td><%=work.votes.count%></td>
                <td><%=link_to work.title, work_path(work.id)%></td>
                <td><%=work.creator%></td>
                <td><%=work.publication_year%></td>
                <td><%= button_to "Upvote", votes_path(work_id: work.id), method: :post, :class => "btn btn-primary"%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    <% else %>
      <h3>No Works Found!</h3>
    <% end %>
  </section>
  <footer>
    <span><%=button_to "View top media", root_path, class: "btn btn-secondary", form: {style: 'display:inline-block;'}%></span>
    <span><%=button_to "Add a new work", new_work_path, class: "btn btn-primary", form: {style: 'display:inline-block;'} %></span>
  </footer>
</div>