<section>
<h2>User Summary: <%=@user.user_name%></h2>
<p>Joined site <%@user.created_at%></p>
</section>
<section>
  <h3>Votes</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Media Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Category</th>
        <th>Voted On</th>
      </tr>
    </thead>
    <tbody>
      <% @user.votes.each do |vote| %>
        <tr>
          <td><%= link_to vote.work.title, work_path(vote.work.id)%></td>
          <td><%= vote.work.creator %></td>
          <td><%= vote.work.publication_year %></td>
          <td><%= vote.work.category %></td>
          <td><%= vote.work.created_at.strftime("%B %d, %Y")%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>