<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <h1>
    <%=link_to "Media Ranker", root_path%>
    </h1>
    <span><%=link_to "All Works", works_path%></span> | 
    <span><%=link_to "Add A New Work", new_work_path%></span>
    </nav>
    <%= yield %>
  </body>
</html>
